<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Favicon --}}
  <link rel="apple-touch-icon" sizes="180x180" href="{{src 'assets/favicon/apple-touch-icon.png'}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{src 'assets/favicon/favicon-32x32.png'}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{src 'assets/favicon/favicon-16x16.png'}}">
  <link rel="manifest" href="{{src 'assets/favicon/site.webmanifest'}}">
  <link rel="mask-icon" href="{{src 'assets/favicon/safari-pinned-tab.svg'}}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {{!-- OG --}}
  <meta property="og:image" content="{{src 'assets/og.png'}}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://markify.web.app" />
  <meta property="og:site_name" content="Markify" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{src 'assets/og.png'}}" />
  <meta name="twitter:site" content="@markify" />
  <meta name="twitter:creator" content="@markify" />

  {{!-- Base --}}
  <meta name="description" content="{{ description }}" />
  <title>Markify. {{ title }}</title>
</head>

<body>
  <div id="root" class="root">
    <header class="header" id="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo logo">
            <a class="logo__link" href="/">
              <img src="{{src 'assets/logo.svg'}}" alt="logo">
            </a>
          </div>
          <a class="button" href="/">
            <span>Sign Up</span>
          </a>
        </div>
      </div>
    </header>
    <nav class="root__nav nav">
      <ul class="nav__list">
        <li class="nav__item {{nav_link_active 'index'}}">
          <a class="nav__link" href="/">Home</a>
        </li>
        <li class="nav__item {{nav_link_active 'about'}}">
          <a class="nav__link" href="/about/">About us</a>
        </li>
        <li class="nav__item {{nav_link_active 'services'}}">
          <a class="nav__link" href="/services/">Services</a>
        </li>
      </ul>
    </nav>
    <main class="main">